<div>
  <%= image_tag("home.jpg", alt: "Our logo", class: 'img-responsive') %>
</div>
<%= render 'shared/navmenu'%>
<div class="center jumbotron">
  <h2>Dish of the day:</h2>
  <div class="container">
    <p>Soon here will be the dish</p>
  </div>
</div>

  