<div>
  <%= image_tag("home.jpg", alt: "Our logo", class: 'img-responsive') %>
</div>
<%= render 'shared/navmenu'%>
<div class="center jumbotron">
  <% if @dish_of_the_day %>
    <h2>Dish of the day:</h2>
    <div class="container" id="dish_of_the_day">
      <%= render "shared/dish_of_the_day"%>
    </div>
  <% else %>
    <h3 class="alert alert-info">Try all delicious dishes!</h3>
  <% end%>
</div>

  