<li id="week-plan-dish-<%=weekdish.dish.id%>" class="week-plan-dish">
  <div class="dish-cells center">
    <button type="button" class="pull-right close" aria-label="Close" id="close-button">
      <%= link_to "&times;".html_safe, weekdish, method: :delete %>
    </button>
    <img id="for-week" class="img-rounded" src="<%= weekdish.dish.picture %>" />
    <p class="text-center"><%= link_to weekdish.dish.name, edit_dish_day_path(weekdish.id)%></p>
  </div>
</li>