<% provide(:title, "Week plan") %>

<%= render 'shared/navmenu' %>
<h1>Here will be a menu for current week</h1>

<% if @week_plan.exists? %>
  <div class="container">
    <ul class="list-group">
      <% @week_plan.group(:day).each do |weekday| %>
        <%= render partial: "weekday", locals: {weekday: weekday} %>
      <% end %>
    </ul>
  </div>
<% else %>
  <p class="alert alert-info">No menu for this week yet!</p>
<% end %>
