<h2>Hi, Tulen Lubvi!</h2>

<p>We are reporting that someone wants to eat something delicious!
What about to try <big><%= @suggested_dish.name%></big>? <em>"<%= @suggested_dish.comment%>"</em> - it says.</p>

<p>Let's go and approve or reject it -> <%= link_to "Suggested dish list", suggested_dishes_url %></p>