<% provide(:title, "Dish list") %>

<h2>Here I can view list of all dishes</h2>

<table class="table borderless">
  
  <% @dishes.in_groups_of(3).each do |row| %>
    <tr>
      <% row.each do |dish| %>
        <td>
          <% if dish %>
            <div class="dish-cells center" id="dish-<%= dish.id %>">
              <button type="button" class="pull-right close" aria-label="Close" id="close-button">
                <%= link_to "&times;".html_safe, dish, method: :delete %>
              </button>
              <img class="img-thumbnail" src="<%= dish.picture %>" />
              <span class="name clearfix"><%= link_to dish.name, edit_dish_path(dish.id)%></span>
            </div>              
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
