<% provide(:title, "Dish list") %>

  <%= render 'shared/navmenu' %>

  <h2>Here I can view list of all dishes</h2>
  <div class="col-md-8">
    <ul class="dishes">
      <%= render @dishes %>
    </ul>
  </div>
</div>